.admin-testd{
    margin-top: 15vh;
    margin-left: 8rem;
}
.admin-upload-test{
    margin-top: 5vh;
    margin-left: 8rem;
}
.admin-testd-table{
    margin-left: 8rem;
    width: 90%;
}
@media only screen and (max-width: 427px) {
    .admin-testd-table{
        width: 80%;
        margin-left: 5.3rem;
        font-size: 0.54rem;
    }
}