/* styles.css */

/* Define your styles here with class names ending with "sk14s" */

.PatientListContainer-sk14s12 {
  text-align: center;
  /* margin-top: 20px; */
  padding-top: 0%;
 
}
.sk14-arrows143-n1-pat{
  margin-top: 7%;
  margin-left: 8%;
  display: flex;
  font-size: 2rem;
  align-items: center;
}
.heading56789{
  padding-left: 32%;
  text-align: center;
}
.patients-main234{
  width: 93%;
  margin-left: 7%;
}
.patienttable444{
  background-color: rgba(62, 110, 168, 0.8) !important;
}

.PatientTable-sk14s12 {
  width: 100%;
  border-collapse: collapse;
  
  /* margin-top: 20px; */
}

.PatientTable-sk14s,
.PatientTable-sk14s th,
.PatientTable-sk14s td {
  border: 1px solid #ccc;
}

.PatientTable-sk14s th,
.PatientTable-sk14s td {
  padding: 10px;
  text-align: left;
}






/* Add this to your CSS stylesheet */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  text-decoration: none !important;
}

.pagination li {
  margin: 2px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  text-decoration: none !important;
}

.pagination li a{

  color: #3e6eab;
 
  text-decoration: none !important;
}

.pagination li.active a{
  /* background-color: #3e6eab; */

  color: black;
  text-decoration: none !important;
}

.pagination li:hover a{
  /* background-color: #3e6eab; */
  color: lightslategray;
}

.custom-pagination-arrow{
  text-decoration: none !important;
}


@media only screen and (max-width: 427px){
  .PatientTable-sk14s12{
    font-size: 0.6rem;
    width: 84%;
    margin-left: 15%;
    overflow-x: scroll;
    height: auto;
    display: block;
    border: none;
  }
  .sk14-arrows143-n1-pat{
    margin-top: 20%; 
    margin-left: 20%;
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
  .h1cvvroyal-n1{
    font-size: 1.1rem;
    margin-top: 5%;
  }
}










